/*börja med att styla body och få texten centrerad samt fixa bakgrundsbilden
samt header bilden som jag vill ha rund likt på ett riktigt CV*/
/*Måste ha korrekta färger för AA*/
/* Skapa en media quary*/
/*innehåll flex och eller grid layout */
body {
  text-align: center;
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: url(bilder/pexels-jplenio-1103970.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}


p {
  color: darkblue;
  font-size: 1.5em;
}

h1 {
  color: rgb(0, 94, 255);
  font-size: 2em;
}

header {
  padding: 2em;
}

header img {
  border-radius: 50%;
  width: 200px;
  height: 200px;
  display: block;
  margin: 0 auto;
}

footer {
  border: 1px;
  color: rgb(249, 4, 106)
}

nav {
  background-color: #9b089b;
  color: rgb(130, 20, 20);
  padding: 0;
  text-align: center;
  justify-content: space-between;
}

nav ul {
  margin: 0;
  display: flex;
  padding: 2;
  justify-content: space-around;
  font-size: 1.5em;
}

nav ul li {
  margin: 0;
}

nav ul li a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  font-weight: bold;
  font-size: 1em;
}

nav ul li a:hover {
  text-decoration: underline;
}


section {
  margin: 10px;
  padding: 10px;
  border-radius: 4px;
}

footer {
  text-align: center;
  padding: 10px;
  background: #333;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 0.5em;
}



.footer-SM {
  flex: 1;
  text-align: center;
}

/*margin 0 och lägger till lite gap för logo texterna*/
footer a {
  margin: 0 2em;
}


footer img.socialamedia-loggor {
  width: 40px;
  height: 40px;
  display: inline-block;
  vertical-align: middle;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/*Ska även göra så att loggorna växer 30% när man hoverar över med musen*/
footer img.socialamedia-loggor:hover {
  transform: scale(1.3);
}

/*Media queries*/
/*För mobiltelefoner*/
@media (max-width: 480px) {
  header img {
    width: 30vw;
    /*30% av skärmens bredd*/
  }

  /*Skapar en column nav så att det kan visas vertikalt*/
  /*samt lite mellanrum bland menylänkarna*/
  nav ul {
    flex-direction: column;
    gap: 1em;
  }

  section {
    margin: 1em;
    padding: 1em;
  }

  /*Ge lite mer utrymme även i footern*/
  footer {
    padding: 1.5em;
  }
}

/*Måste anpassa storlek för viewportens bredd*/

/*För mellanstora skärmar*/
@media (min-width: 980px) {

  header img {
    width: 10vw;
    /*10% av skärmens bredd*/
  }

  /*Lägger till horisontell layout och centrerar menyn*/
  nav ul {
    flex-direction: row;
    justify-content: center;
    gap: 2em;
  }

  section {
    max-width: 50%;
    /*Sektionen ska täcka max 50% */
    margin: auto;
    padding: 0;
  }

  /**större storlek på loggorna samt justera footern*/
  footer a {
    font-size: 2em;
  }

  footer {
    padding: 2em;
  }
}
